/poetry.lock
.env
tests/chrome-win64/114.0.5735.90.manifest
tests/chrome-win64/chrome_100_percent.pak
tests/chrome-win64/chrome_200_percent.pak
tests/chrome-win64/chrome_elf.dll
tests/chrome-win64/chrome_proxy.exe
tests/chrome-win64/chrome_pwa_launcher.exe
tests/chrome-win64/chrome_wer.dll
tests/chrome-win64/chrome.dll
tests/chrome-win64/chrome.exe
tests/chrome-win64/D3DCompiler_47.dll
tests/chrome-win64/elevation_service.exe
tests/chrome-win64/First Run
tests/chrome-win64/icudtl.dat
tests/chrome-win64/libEGL.dll
tests/chrome-win64/libGLESv2.dll
tests/chrome-win64/mojo_core.dll
tests/chrome-win64/nacl_irt_x86_64.nexe
tests/chrome-win64/notification_helper.exe
tests/chrome-win64/resources.pak
tests/chrome-win64/v8_context_snapshot.bin
tests/chrome-win64/vk_swiftshader_icd.json
tests/chrome-win64/vk_swiftshader.dll
tests/chrome-win64/vulkan-1.dll
tests/chrome-win64/MEIPreload/manifest.json
tests/chrome-win64/MEIPreload/preloaded_data.pb
tests/chrome-win64/locales/af.pak
tests/chrome-win64/locales/am.pak
tests/chrome-win64/locales/ar.pak
tests/chrome-win64/locales/bg.pak
tests/chrome-win64/locales/bn.pak
tests/chrome-win64/locales/ca.pak
tests/chrome-win64/locales/cs.pak
tests/chrome-win64/locales/da.pak
tests/chrome-win64/locales/de.pak
tests/chrome-win64/locales/el.pak
tests/chrome-win64/locales/en-GB.pak
tests/chrome-win64/locales/en-US.pak
tests/chrome-win64/locales/es-419.pak
tests/chrome-win64/locales/es.pak
tests/chrome-win64/locales/et.pak
tests/chrome-win64/locales/fa.pak
tests/chrome-win64/locales/fi.pak
tests/chrome-win64/locales/fil.pak
tests/chrome-win64/locales/fr.pak
tests/chrome-win64/locales/gu.pak
tests/chrome-win64/locales/he.pak
tests/chrome-win64/locales/hi.pak
tests/chrome-win64/locales/hr.pak
tests/chrome-win64/locales/hu.pak
tests/chrome-win64/locales/id.pak
tests/chrome-win64/locales/it.pak
tests/chrome-win64/locales/ja.pak
tests/chrome-win64/locales/kn.pak
tests/chrome-win64/locales/ko.pak
tests/chrome-win64/locales/lt.pak
tests/chrome-win64/locales/lv.pak
tests/chrome-win64/locales/ml.pak
tests/chrome-win64/locales/mr.pak
tests/chrome-win64/locales/ms.pak
tests/chrome-win64/locales/nb.pak
tests/chrome-win64/locales/nl.pak
tests/chrome-win64/locales/pl.pak
tests/chrome-win64/locales/pt-BR.pak
tests/chrome-win64/locales/pt-PT.pak
tests/chrome-win64/locales/ro.pak
tests/chrome-win64/locales/ru.pak
tests/chrome-win64/locales/sk.pak
tests/chrome-win64/locales/sl.pak
tests/chrome-win64/locales/sr.pak
tests/chrome-win64/locales/sv.pak
tests/chrome-win64/locales/sw.pak
tests/chrome-win64/locales/ta.pak
tests/chrome-win64/locales/te.pak
tests/chrome-win64/locales/th.pak
tests/chrome-win64/locales/tr.pak
tests/chrome-win64/locales/uk.pak
tests/chrome-win64/locales/ur.pak
tests/chrome-win64/locales/vi.pak
tests/chrome-win64/locales/zh-CN.pak
tests/chrome-win64/locales/zh-TW.pak
